<app-page-header></app-page-header>
<header class="header">
  <div class="container">
    <div class="header-content">
      <h1 class="title">
        MICHELE
        <span class="highlight">CIRASOLA</span>
      </h1>
      <h2 class="subtitle">FRONTEND DEVELOPER</h2>
      <div class="header-image">
        <div class="image-container">
          <img src="/foto_curriculum.png"
            alt="Michele Cirasola - Sviluppatore Frontend specializzato in Angular e Ionic" class="profile-image">
        </div>
      </div>
    </div>
  </div>
</header>